section.index

  header
    h1 I’m Shane.
    h2 The creative that is 
      span heavily 
      | under the influence of digital technology.

  p.philosophy My philosophy on the creative process is that all experience has relevancy. The largest restriction on creating is having a mental silo and limiting yourself to a single area. Having a diverse understanding between multiple creative disciplines allows for a more relational perspective. Which is a great advantage when creating in the constantly evolving digital environment.