@import "compass/CSS3";
 
$phone: "only screen and (max-width: 767px)"; // phones

@media #{$phone} {
  body{
    margin: 0;
    border: 0;
    > br {
      display: none;
    }
  }
  .bigtable{
    width: 100%; 
    border: 0; 
    padding: 0; 
  }

  body > a[href*="retrieve_password"]{
    display: none;
  }

  .bigtable:nth-of-type(1){
    td, tbody, tr{
      @include box-sizing(border-box); 
      width: 100%;
      padding: 0;
    }
    tr:nth-child(1){
      td{
        display:none;
        &:first-child{
          display: block;
          width: 100%; 
          text-align: center;
          font-weight: normal;
          padding: 5px;
        }
      }
    }
    tr:nth-child(2){
      > td:nth-child(2){
        display: none;
      }

      td > form, td{
        white-space: nowrap;
        line-height: 0;
        font-size: 0;
        color: transparent;
        width: 100%;
        @include box-sizing(border-box); 
        text-align: center;

        a{
          display: none;

          &:nth-child(1), &:nth-child(3), &:nth-child(4){
            width: 30%;
            height: 28px;
            display: inline-block;
            font-size: 10px;
            line-height: 28px;
            text-align: center;
            border: 1px solid;
            margin-top: 10px;
            border-radius: 6px;
            margin-bottom: 10px;
            margin-left: 1%;
            margin-right: 1%;
          }
        }
        br, input{
          display: none;
        }
      }
    }
  }

  .bigtable:nth-of-type(2){
    display: block;
    img{
      max-width: 100%;
    }

    tr:nth-child(odd) td{
      border: 0;
      font-size: 10px;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    tr:nth-child(even) td{
      font-size: 12px;
      line-height: 14px;
      padding: 5px;
      img{
        margin: 5px 0;
      }
    }
    tr:nth-last-child(2) td{
      border-bottom: 1px solid;
    }
    .footer{
      display: none;
    }
    tr:first-child td{
      border-top: 1px solid black;
    }
  }

  table[cellpadding="2"]{
    &:nth-of-type(2){ 
      display: none;
    }
  }

  .bigtable:nth-of-type(3){
    tr td{
      &:nth-child(3), &:nth-child(5), &:nth-child(4){
        display: none;
      }
    }
    tr:first-child{
      display: none;
    }

    tr:last-child{
      td:nth-child(2){
        border-bottom: 1px solid;
      }
    }
    td:nth-child(1){
      border: 0;
      display: inline-block;
      width: 100%;
      @include box-sizing(border-box); 
      padding: 0;
      padding-bottom: 2px;
      padding-top: 5px;
      border-top: 1px solid;
      > a{
        padding-bottom: 2px;
        width: 96%;
        display: inline-block;
        font-weight: bold;
        border-bottom: 1px solid #666;
        margin-left: 2%;
      }
    }    
    td:nth-child(2){
      border: 0;
      display: inline-block;
      width: 100%;
      @include box-sizing(border-box);
      padding: 0;
      > strong{
        display: none;
      }
      > a{
        padding-top: 3px;
        padding-bottom: 6px;
        width: 96%;
        margin-left: 2%;
        display: inline-block;
      }
    }

  }
  body > div[align='left']{
    white-space: nowrap;
    line-height: 0;
    font-size: 0;
    color: transparent;
    position: relative;
    strong{
      display: none; 
    }
    a{
      &:nth-last-of-type(2){
        display:  block;
        height: 50px;
        color: black;
        text-align: center;
        &:before{
          position: absolute;
          font-size: 10px;
          line-height: 28px;
          left: 0;
          top: 0;
          width: 89%;
          margin-left: 5%;
          content: "next";
          color: black;
          height: 28px;
          border: 1px solid black;
          border-radius: 6px;
          margin-top: 10px; 
        }
      }
    }
  }
  body > form{
     table{
      padding: 0;
      tr, tbody{
        display: block;
        width: 100%; 
      }
      tr:nth-child(5){
        line-height: 0;
        font-size: 0;
        [name="unhtml"]{
          display: none;
        }
      }
      td{
        @include box-sizing(border-box); 
        display: inline-block;
      }
      td:nth-child(1){
        width: 100%;
        display: block;
        padding-top: 5px;
        text-align: left;
        width: 96%;
        margin-left: 2%;
      }
      td:nth-child(2){
        width: 100%;
        @include box-sizing(border-box);
        width: 96%;
        margin-left: 2%;

        input, textarea{ 
          width: 100%;
          @include box-sizing(border-box);
          padding: 5px;
        }
        input[type="radio"]{
          display: inline;
          border: 1px solid red;
          width: auto;
        }
        .button{
          border-radius: 6px;
          padding: 10px 0;
          margin-bottom: 15px;
        }
      }
      tr:nth-child(4) td:nth-child(2){
        font-size: 0;
        line-height: 0; 
        input:nth-child(2){
          display: none;
        }
      }
    }
  }
}