@import "compass/CSS3";
 
$phone: "only screen and (max-width: 767px)"; // phones

@media #{$phone} {

  body{
    margin: 0;
    border: 0;
    > br {
      display: none;
    }
  }

  .bigtable{
    width: 100%; 
    border: 0; 
    padding: 0; 
  }

  body > a[href*="retrieve_password"]{
    display: none;
  }

  a[href="javascript:openScript('messages.php',600,400)"]{
    width: 100%; 
    box-sizing: border-box;
    text-align: center;
    height: 26px;
    padding-top: 6px;
    display: block;
    &.menu{
      width: 20%;
      height: 30px!important;
      display: inline-block;
      font-size: 10px;
      line-height: 28px;
      text-align: center;
      border: 1px solid;
      margin-top: 10px;
      border-radius: 6px;
      margin-bottom: 10px;
      position: absolute;
      left: 20%;
      padding-top: 0px;
    }
  }

  body > .bigtable:nth-of-type(1){
    td, tbody, tr{
      @include box-sizing(border-box); 
      width: 100%;
      padding: 0;
    }
    tr:nth-child(1){
      td{
        display:none;
        &:first-child{
          display: block;
          width: 100%; 
          text-align: center;
          font-weight: normal;
          padding: 5px;
        }
      }
    }
    tr:nth-child(2){
      > td:nth-child(2){
        display: none;
      }
      td > form[action="search_pmsg.php"]{
        @include box-sizing(border-box); 
        white-space: nowrap;
        line-height: 0;
        font-size: 0;
        color: transparent;
        width: 100%;
        text-align: center;
        height: 50px;
        br, input{
          display: none;
        }
        a{
          display: none;
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-of-type(4){
            width: 22%;
            height: 28px;
            display: inline-block;
            font-size: 10px;
            line-height: 28px;
            text-align: center;
            border: 1px solid;
            margin-top: 10px;
            border-radius: 6px;
            margin-bottom: 10px;
            position: absolute;
            left: 0;
            background: #DADADA;
         }
          &:nth-child(1){
            left: 51%;
            font-size: 9px;
          }                  
          &:nth-child(2){
            left: 26%;
          }          
          &:nth-child(3){
            font-size: 9px;
            left: 76%;
          }          
          &:nth-of-type(4){
            left: 1%;
          }
        }
      }

      td[valign='top'] > form, td[valign='top']{
        @include box-sizing(border-box); 
        white-space: nowrap;
        line-height: 0;
        font-size: 0;
        color: transparent;
        width: 100%;
        text-align: center;
        height: 50px;
        a{
          display: none;
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
            width: 22%;
            height: 28px;
            display: inline-block;
            font-size: 10px;
            line-height: 28px;
            text-align: center;
            border: 1px solid;
            margin-top: 10px;
            border-radius: 6px;
            margin-bottom: 10px;
            position: absolute;
            left: 0;
            background: #DADADA;
          }
          &:nth-child(1){
            left: 51%;
          }                  
          &:nth-child(2){
            left: 26%;
          }          
          &:nth-child(3){
            left: 1%;
          }          
          &:nth-child(4){
            left: 76%;
          }
        }

        br, input{
          display: none;
        }
      }
    }
  }


  // page table
  body > .bigtable:nth-of-type(2){
    display: block;
    word-wrap: break-word;
    img{
      max-width: 100%;
    }
    tbody, tr{
      display: block;
      width: 100%; 
    }
    tr:nth-child(odd) td{
      border: 0;
      display: block;
      word-wrap: break-word;
      font-size: 10px;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding-left: 5px;
    }
    tr:nth-child(even) td{
      font-size: 12px;
      line-height: 14px;
      display: block;
      word-wrap: break-word;
      padding: 5px;
      img{
        margin: 5px 0;
      }
    }
    tr:nth-last-child(2) td{
      border-bottom: 1px solid;
    }
    .footer{
      padding: 4px!important;
      > .footer{
        display: inline-block;
        width: 40%;
        margin-left: 5%;
        border: 1px solid white;
        position: relative;
        right: inherit;
        padding: 3px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 4px;
        background: #222;
        text-decoration: none;

      }
    }
    tr:first-child td{
      border-top: 1px solid black;
    }
    tr, tbody, td{
      width: 100%; 
      box-sizing: border-box;
    }
    tr td[align='left'] {
      display: block;
      padding: 0;
      border: 0;

      div[align='left']{
        display: none;
      }
      &.tr1, &.tr2, &.header{
        display: none;
      }
      &.tr1:nth-child(1), &.tr2:nth-child(1){
        display: block;
        padding: 2px 5px 2px 5px;
        width: 100%;
        border-top: 1px solid;
         a{
          font-size: 10px;
          font-weight: bold;
        }
      }
      &.tr1:nth-child(2), &.tr2:nth-child(2){
        display: block;
        padding: 2px 5px 2px 5px;
        font-size: 11px;
        font-weight: normal;
      }      
      &.header:nth-child(1), &.header:nth-child(2){
        display: block;
        padding: 2px 5px 2px 5px;
        font-size: 11px;
        font-weight: normal;
      }

    }
  }

  // body > *:nth-child(8),
  // body > *:nth-child(9),
  // body > *:nth-child(10),
  // body > *:nth-child(11),
  // body > *:nth-child(12),
  // body > *:nth-child(13),{
  //   &.bigtable{
  //      margin: 10px 0;
  //     box-sizing: border-box;
  //     tr:first-child{
  //       display: none;
  //     }

  //     tbody, tr{
  //       width: 100%;
  //        box-sizing: border-box;
  //     }
  //     tr > td[align='left']{
  //       display: none;
  //       width: 100%;
  //       box-sizing: border-box;
  //       border: none;
  //       &[valign='top'], &.header {

  //         display: none;
  //         &:nth-child(1){
  //           display: block;
  //           padding: 2px 5px 2px 5px;
  //           width: 100%;
  //           border-top: 1px solid;
  //            a{
  //             font-size: 10px;
  //             font-weight: bold;
  //           }
  //         }
  //         &:nth-child(2){
  //           padding: 2px 5px 2px 5px;
  //           font-size: 11px;
  //           font-weight: normal;
  //           display: block;
  //          }
  //       }
  //     }
  //     tr > td:nth-child(1), tr > td{
  //        display: block;
  //     }
  //   }
  // }

  table[cellpadding="2"]{
    &:nth-of-type(2){
      td[align='right']{
        border: 0!important;
        padding: 0;
      }
 
    }
  }

  body > .bigtable:nth-of-type(3){
    tr td{
      &:nth-child(3), &:nth-child(5), &:nth-child(4){
        display: none;
      }
    }
    tr:first-child{
      display: none;
    }
    tr:last-child{
      td:nth-child(2){
        border-bottom: 1px solid;
      }
    }
    td:nth-child(1){
      border: 0;
      display: inline-block;
      width: 100%;
      @include box-sizing(border-box); 
      padding: 0;
      padding-bottom: 2px;
      padding-top: 5px;
      border-top: 1px solid;
      > a{
        padding-bottom: 2px;
        width: 96%;
        display: inline-block;
        font-weight: bold;
        border-bottom: 1px solid #666;
        margin-left: 2%;
      }
    }    
    td:nth-child(2){
      border: 0;
      display: inline-block;
      width: 100%;
      @include box-sizing(border-box);
      padding: 0;
      > strong{
        display: none;
      }
      > a{
        padding-top: 3px;
        padding-bottom: 6px;
        width: 96%;
        margin-left: 2%;
        display: inline-block;
      }
    }
  }

  body > div[align='left']{
    white-space: nowrap;
    line-height: 0;
    font-size: 0;
    color: transparent;
    position: relative;
    strong{
      display: none; 
    }
    a{
      &:nth-last-of-type(2){
        display:  block;
        height: 50px;
        color: black;
        text-align: center;
        &:before{
          position: absolute;
          font-size: 10px;
          line-height: 28px;
          left: 0;
          top: 0;
          width: 89%;
          margin-left: 5%;
          content: "next";
          color: black;
          height: 28px;
          border: 1px solid black;
          border-radius: 6px;
          margin-top: 10px; 
          margin-bottom: 10px; 
        }
      }
    }
  }

  body > form{
    table.replytbl, table.replytable{
      padding: 0;
      tr, tbody{
        display: block;
        width: 100%; 
      }
      tr:nth-child(5){
        line-height: 0;
        font-size: 0;
        [name="unhtml"]{
          display: none;
        }
      }
      td{
        @include box-sizing(border-box); 
        display: inline-block;
      }
      td:nth-child(1){
        width: 100%;
        display: block;
        padding-top: 5px;
        text-align: left;
        width: 96%;
        margin-left: 2%;
      }
      td:nth-child(2){
        width: 100%;
        @include box-sizing(border-box);
        width: 96%;
        margin-left: 2%;

        input, textarea{ 
          width: 100%;
          @include box-sizing(border-box);
          padding: 5px;
        }
        textarea{
          height: 160px;
        }
        input[type="radio"]{
          display: inline;
          width: auto;
        }
        .button{
          border-radius: 6px;
          padding: 10px 0;
          margin-bottom: 15px;
        }
      }
      tr:nth-child(4) td:nth-child(2){
        font-size: 0;
        line-height: 0; 
        input:nth-child(2){
          display: none;
        }
      }
    }
  }

  body > form[action='delete_pmsg.php'], body > form[action='delete_sent_pmsg.php']{
    tr td:nth-child(4){
      display: none;
    }
  }

  body > form[action='pmsg_send.php']{
    table, tbody, tr, td{
      display: block;
      width: 100%; 
      box-sizing: border-box;
    }
    tr:nth-child(1){
      td{
        display: block;
        width: 100%;
        a{
          word-wrap: break-word;
        }
      }
    }
    tr:nth-child(2){
      display: block;
      margin-top: 10px;
    }
  }
}

img{
  max-width: 100%; 
}