
@import "compass/reset";
@import "compass/css3";
@import "flexbox";

*, *:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: 'Chronicle Display A', 'Chronicle Display B'; 
  font-weight: 700;
}

#partytime{
  background: rgba(107, 14, 14, 0.84);  
  padding: 5%;
  text-align: center;
  p{
    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B'; 
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 2%;
    font-style: normal;
    color: #CAA0A0;
    margin-bottom: 10%;
    border-top: 1px solid;
    padding-top: 2%;
    line-height: 1.6em;
    span{
      margin-right: 5px;
      font-weight: 400;
      color: rgb(213, 149, 149);
    }
    &:first-child{
      border-bottom: 1px solid #a37070;
      padding-bottom: 4px;
    }   
    a{
      font-weight: 400;
      color: #d59595;
    }
  }
  h1{
    font-family: 'Chronicle Display A', 'Chronicle Display B'; 
    font-size: 3.6em;
    color: rgba(173, 80, 80, 1);
    font-weight: 800;
    font-style: normal; 
    text-shadow: 1px 0px 5px rgba(31, 31, 31, 0.16);
  }
  img{
    max-width: 100%;
  }
}

#todos{
  background: #728fa2;
}

.item{
  @include display-flex();
  border-top: 1px solid #333;
  font-weight: 300;
  font-size: 1.6em;
  .check{
    @include flex(16);
    background: #7277a2;
    display: inline-block;
    padding: 1em;
  }
  .delete{
    @include flex(1);
    background: #e13345;
    display: inline-block;
    padding: 1em 0;
    color: #f5bcc2;
    text-align: center;
    font-weight: 600;
  }
  &.done{
    .check{
      background: #3c3e4e;

    }
  }
}