doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
   
    title= title
   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Shane Eckel is a designer and developer located in Pittsburgh, Pa.')
    meta(name='author', content='Shane Eckel')
   
    link(rel='stylesheet', type='text/css', href='//cloud.typography.com/6038632/763602/css/fonts.css')
    link(href='/css/main.css', rel='stylesheet')

  body
    #partytime
      h1 Shane Eckel
      p 
        span shaneckel@gmail.com
        {designer : developer} pittsburgh

    script.
      type="text/javascript"
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17701242-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

