doctype 5
html(lang="en")
  head

    //- shaneckel.com 
    //- "Good artists copy, great artists steal."
   
    title Shane Eckel. Pittsburgh, Pa. Creative.
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Shane Eckel is a designer and developer located in Pittsburgh, Pa.')
    meta(name='author', content='Shane Eckel')
   
    link(rel='stylesheet', type='text/css', href='//cloud.typography.com/6038632/763602/css/fonts.css')
    link(href='/css/main.css', rel='stylesheet')

  body(ng-app="funtime", ng-class="{loading: loading}", id="init")

    main(ng-class="{navflip:navflip}" ng-init="navflip=false")
      div.navflipper(ng-class="{navflip:navflip}", ng-click="navflip=!navflip")

      nav
        p
          a(href="/", class="nav", ng-class="{active: location.path() === '/'}")  index
        
        //- leave the creative out until more time.

        //- p
        //-   a(href="/creative", class="nav", ng-class="{active: location.path() === '/creative'}") creative
        p
          a(href="/experience", class="nav", ng-class="{active: location.path() === '/experience'}") experience
        p
          a(href="/information", class="nav", ng-class="{active: location.path() === '/information'}") information

      article(ng-view class="page {{ pageClass }}")
 
    script(src='/js/funtime.js')
 
    script.
      type="text/javascript"
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17701242-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();