doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
   
    title Shane Eckel. Web developer with an art degree. 
   
    <!--Snoopin around huh... It's all really straight forward.-->
    <!--Truly wish I had more to focus on this. Feel free to take any bits you like-->
    <!--We all learn from our community. blah blah picasso quote. :) -->

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Shane Eckel is a designer and developer located in Pittsburgh, Pa.')
    meta(name='author', content='Shane Eckel')
   
    link(rel='stylesheet', type='text/css', href='//cloud.typography.com/6038632/763602/css/fonts.css')
    link(href='/css/main.css', rel='stylesheet')

  body
    section.fold

      header
        h1 I’m Shane.
        p The designer that is 
          span heavily 
          | under the influence of digital technology.
      //- main
      //-   p having a good time. 

    section.direction
      p twitter
    footer
      p Annnnnd you're down here now. 

      
    script.
      type="text/javascript"
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17701242-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


