doctype 5
html(lang="en")
  head
   
    title Shane Eckel | Creative Developer & Designer From Pittsburgh
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Shane Eckel | Creative Developer & Designer From Pittsburgh, Pa.')
    meta(name='author', content='Shane Eckel')
   
    link(rel='stylesheet', type='text/css', href='//cloud.typography.com/6038632/763602/css/fonts.css')
    link(href='/css/main.css', rel='stylesheet')

  body 
    main
      section.index
      
        header
          h1 Shane Eckel 
          h2 Creative Developer & Designer From Pittsburgh.
      
        p.links
          a(href="mailto:shaneckel@gmail.com") email
          a(href="http://twitter.com/shaneckel") twitter
      
      section.index.experience
        
        section.year
          h2 2016
          
          article
            h3 Carnegie Mellon University |  School of Computer Science
            p.description Lead in the strategy to open the campus's data, design, and  development. Replatformed the campus to github and gCloud. Created a GraphQL endpoint to house and group the many scattered data endpoints. Main application built using node, mongodb, and vue.js 
            aside.tech node, mongo, design, strategy, vue.js, angular. 
            
        section.year
          h2 2015
      
          article
            h3 Gelman & Reisman
              span.domain gelmanreisman.com
            p.description Rebranded and redesigned the experience of Gelman & Reisman's law firm. Strategy was motivated with performance and simplicity.
            aside.tech mobile, responsive, branding, jade, design, photography, copywriting, analytics, print, signage.
      
          article
            h3 Pixel Titans
              span.domain wearepixeltitans.com
            p.description Built an single page responsive website for a game company in LA. Simple js was used to make an interesting parallax effect.
            aside.tech responsive, mobile, javascript.
          
          article
            h3 Superior Motors
              span.domain superiormotors15104.com
            p.description Designed and developed the brand for this fascinating restaurant plan. Built an application with Angular on the front and simple node / mongo back end. 
            aside.tech design, branding, responsive, mobile, technology, mobile, angular, mongodb, nodejs, javascript.
          
          article
            h3 Fy Studio
            p.description Owned and operated Fy-Studio. Specialized in unique design & technology solutions for artists, businesses, campaigns, and start-ups.
            aside.tech design, technology, mobile, mongodb, nodejs, javascript.
      
        section.year
          h2 2014
          article
            h3 Mullen
              span.domain mullen.com
            p.description Art Director / Programmer. 
            aside.tech design, nodejs, angular, mongoDb, sass, ux, ui. 
      
          article
            h3 Branding Brand
              span.domain brandingbrand.com
            p.description Creating web applications that help organize the analytics of over 200 commerce mobile and tablet websites. Created and maintained an analytics web application for live monitoring. 
            aside.tech nodejs, angular, mongoDb, d3, sass, ux, ui. 
      
        section.year
          h2 2013
          article
            h3 Eden
              span.domain edenpitt.com
            p.description Organized the business model. Planned the marketing. Executed the design and development of both the website and all of the print media.
            aside.tech packaging, photography, signage, print, nodejs, angular, mongoDb, sass, analytics, copywriting. 
      
        section.year
          h2 2012
          article
            h3 Cleveland Museum of Art
              span.domain clevelandart.org
            p.description Interactive Facebook integration to create a social reaction to the museum's Rembrandt installation. 
            aside.tech actionscript3, ux, ui.
          article
            h3 Branding Brand 
              span.domain brandingbrand.com
            p.description Work on over 50 multi-language mobile and tablet commerce websites from last minute fixes to complete construction. Varies from teams of 1 to 6. Contributed to R&D and helped the company successfully grow to over 200 people. 
            aside.tech node.js, php, angular, sass, less.
            ul.clients
              li Ace Hardware
              li American Eagle
              li Clipper Card
              li Dicks Sporting Goods
              li eFollet
              li Rent The Runway
              li Timberland
              li Wranglers
      
          article
            h3 TMG Electronics
              span.domain 1tmg.com
            aside.tech design, branding, print, corporate identity.   
      
          article
            h3 Smith Brothers 
              span.domain smithbrosagency.com
            p.description Helped organize the creation of their digital advertising trade amplifier. A locationally targeted banner system developed in house at Smith Brothers. Hired to organize and develop the business model, execution, and proof of concepts. 
            aside.tech planning, documentation, ux, actionscript3. 
            ul.clients
              li Nestle
              li Skinny Cow
      
          article
            h3 Famous Yard Sale
            p.description Part of a team of 3 in charge of the businesses model, plan, and execution of charity auction website. Ranging from branding, design, front-end application, data-modelling, and cross relating various data sources. 
            aside.tech branding, design, front-end, data-modelling.  
      
          article
            h3 Global Circuits
              span.domain globalcircuits.com
            p.description Developed a design treatment using Lightwave 3d that matched the feel of the company. Incorporated that treatment from exhibit displays to business cards. 
            aside.tech 3d Modelling, print, corporate identity, exhibit display design. 
      
          article    
            h3 Jibbigo
              span.domain jibbigo.com
            aside.tech design conception, concept pitch, photography, front-end. 
         
        section.year
          h2 2011
      
          article
            h3 MARC
              span.domain marcusa.com
            p.description Hired full time to the interactive department I worked on a range of projects. From flash websites to html cutups. From design design concepts to mock ups. Interfaced with Facebook's, Doubleclick's and Twitter's APIs. Worked on large projects, shared workload among many members, and distributed efforts across three offices.  
            aside.tech design, front-end, actionscript3. 
            ul.clients
              li True Value
              li Pa Lottery
              li Dicks Sporting Goods
              li Rite Aid
              li Cooper Tires
      
          article
            h3 Donald Rager 
            p.description Mocked up an identity for very talented set photographer.
            aside.tech branding, print, corporate identity, website design, freelance.
      
          article
            h3 Branding Brand
              span.domain brandingbrand.com
            p.description Constructed an actionscript3 application that integrated with Facebook's API to provide a commerce experience in Facebook itself. 
            aside.tech actionscript3, conception, api integration, applicational development.
            ul.clients
              li QVC
              li Gilt Groupe
              li Pittsburgh Pens
              li Perricone
              li GNC
              li Sephora
      
        section.year
          h2 2010
      
          article
            h3 OneUP 
              span.domain oneuppgh.com
            p.description Mock ups for a rebranding and redesign of the business. 
            aside.tech branding, website design, conception. 
      
          article
            h3 Vidcam 
              span.domain vidcamhd.com
            p.description Conceptualized, designed, and developed the entire interactive experience and the print work. Created an XML driven website to allow for the incorporation of stock to match the website. A simplified step of adapting the business to the merging digital.
            aside.tech branding, print, actionscript3, conception, site maintenance, front-end, back-end, php, freelance, copywriting.
      
        section.year
          h2 2009
      
          article
            h3 AWMA 
              span.domain awma.org 
            p.description Filled the role as developer and graphic designer. designed and developed email campaigns, event based websites, and maintained their website. Designed and proofed magazine ads to help generate awareness for AWMA and the events related. 
            aside.tech cms integration, front-end, print, conception, branding, copywriting. 
      
          article
            h3 J Allen Masonry 
              span.domain jallenmasonry.com
            p.description Design and constructed a website that gave the user the same unique feel that masonry can give to a home. The website was mostly tedious photo manipulation. Since the design was photography driven it was important that the images had a clean feel.
      
            aside.tech actionscript3, front-end, print, conception, photo manipulation, copywriting. 
      
          article
            h3 Thick Bikes 
              span.domain thickbikes.com
            p.description Thick Bikes is an interesting and perpetually on going project. I've been an integral part of giving the business its "voice". Managed the conception, print, design, and development of the brand for several years. Incorporated illustrations from a very talented illustrator. Thick Bikes continues to grow each year and the marketing grows right along with it. 
            aside.tech marketing, front-end, cms integration, conception, design, print, copywriting, photography, video. 
      
          article
            h3 Always Board
              span.domain alwaysboardshop.com
            p.description Branded and initiated the corporate identity that helped kick-start the company. Created various print items for spreading awareness of the companies jump off. 
            aside.tech marketing, front-end, cms integration, conception, design, print, copywriting, photography, video. 
      
        section.year
          h2 2008
          article
            h3 Visit Washington County
              span.domain washwow.com
            p.description Responsible for creating a website from pitch to live. Assisted the designer with mock-ups that matched the custom CMS. Build a custom CMS that directly matched the business model of the client. The CMS allowed for adding images, updating events, and adding locations worth visiting without cruft and bloat.
            aside.tech website architechture, development, front-end, custom CMS, php, mysql, server administration. 
      
          article
            h3 ZDS Consulting
              span.domain zdsconsulting.com
            p.description Contracted by a designer.
            aside.tech front-end, php, actionscript3.
      
          article
            h3 ToTheBeat
            p.description Contracted by a designer to construct banners and an interactive gallery using only css. This was a big deal back then. 
            aside.tech front-end, flash, php, freelance.
          
          article
            h3 Hiptique
              span.domain hiptique.com
            p.description Contracted by a designer to develop a website for a local clothing store.
            aside.tech front-end, php, actionscript3.    
      
          article
            h3 Travisano Construction
              span.domain travisanoconstruction.com
            p.description Contracted by a designer.
            aside.tech front-end, php, freelance.    
          
          article
            h3 Tocco Investment Group, LLC.
              span.domain toccoig.com
            p.description Contracted by a designer.
            aside.tech front-end, php, freelance.    
      
          article
            h3 The Human Factor
              span.domain thehumanfactorinc.com
            p.description Contracted by a designer.
            aside.tech front-end, php, freelance.
      
          article
            h3 ShowClix
              span.domain showclix.com
            p.description Built an interactive video to help promote and explain the new 'ShowClix Widget' that was being developed and promoted.  
            aside.tech flash, ux, design. 
           
        section.year
          h2 2007
          article
            h3 TenUnited / Engauge
              span.domain tenunited.com
            p.description Designed advertisements and mocked up concepts for clients. Front-end development on many large corporate websites. Built interactive flash websites and campaign based websites for internal and clients. Built the companies website and various internal marketing treatments for the offices to use.
            aside.tech flash, design, conception, front-end, 3d Modelling. 
            ul.clients
              li Dell
              li Zone Perfect
              li Safe Auto
              li Pert Plus
              li Airborne
              li Sure
          article
            h3 Markowitz Communication
            p.description Was contracted as a various roles. At times a web lead and at other times just simply a consultant to explain the limitations of the web.
            aside.tech marketing, consultation, web development, design, front-end, server administration.
            ul.clients
              li PetSmart
              li Cricket
              li Gilda's CLub
              li UPMC
              li Iron City
      
        section.year
          h2 2006
          article
            h3 Leadership Logistics & Consulting
            p.description Designed and developed a website for a company in Texas. 
            aside.tech design, front-end, php.   
 
    script.
      type="text/javascript"
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17701242-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
