section.index

  header
    h1 I’m Shane.
    h2 The creative that is 
      span heavily 
      | under the influence of digital technology.
 
  p.links
    a(href="http://twitter.com/shaneckel") twitter
    a(href="http://instagram.com/shaneckel") instagram 
    a(href="mailto:shaneckel@gmail.com") gmail