section.index
  header
    p.philosophy My philosophy on the creative process is that all 
      a(href="/experience") experience
      |  has relevancy. A large restriction on creating is giving yourself a mental silo or simply limiting yourself to a single area. Having a diverse understanding between multiple creative disciplines allows for a broader relational perspective. I find this to be advantagous in this constantly evolving digital environment we all seem to currently be swept up in. 
      span.name  — Shane

   