
@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';

html, body {
  color: #000;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  margin: 0;
}

html{
  min-height:100%;
}

body {
  @include breakpoint-min(tablet) {
    font-size: 1em;
  }
  @include breakpoint-min(laptop) {
    font-size: 1.05em;
  }
  @include breakpoint-min(desktop) {
    font-size: 1.15em;
  }
  @include breakpoint-min(full) {
    font-size: 1.25em;
  }
}

a, a:hover, a:focus, a:visited {
  color: #000;
  text-decoration: none;
}

.sep{
  display: block;
  background: white;
  width: 5em;
  height: .28em;
  margin-bottom: $base-line-height * 3;
}

.intro-head{
  min-height: 80%;
  h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    margin-top: $base-line-height * 3;
    color: white;
  }
  h4 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
  }
}

.btn-right, .btn-left {
  height: 3em;
  border: 0;
  cursor:pointer;
  outline: 0;
  display: inline-flex;
  align-items: center;
  background: none;
  margin-top: $base-line-height;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  @include breakpoint-max(tablet) {
    padding-left: 1em;
    border: 1px solid black;
  }

  p{
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;
    font-weight: 900;
    padding: 0;
    padding-left: 0em;
    line-height: 1em;
  }
  .arrow{
    width: 3em;
    height: 3em;
    position: relative;
    padding: 1em 1em .8em 1em;
    margin-left: 0em;
    transition: margin-left .2s;
  }
  &:hover .arrow{
    margin-left: .4em;
    transition: margin-left .2s;
  }
  &:active {
    color: #ccc;
    .arrow {
      fill: #ccc;
      transition: margin-left .2s;
      margin-left: .6em;
    }
  }
}

.btn-left{
  .arrow{
    margin-right: 0;
    transform: rotate(180deg);
    left: -0.8em;
    position: relative;
    transition: left .2s;
  }
  &:active .arrow{
    transition: left .2s;
    margin-left: 0em;
    left: -1.2em;
  }
  &:hover .arrow{
    left: -1em;
    margin-left: 0em;
    transition: left .2s;
  }
}

.content{
  padding: $base-line-height;
  @include breakpoint-min(laptop) {
    padding: $base-line-height * 2 $base-line-height * 4 ;
    margin: $base-line-height auto;
    max-width: $full-width;
    margin: $base-line-height * 2 auto;
  }
}

.content-secondary{
  padding: $base-line-height;
  @include breakpoint-min(laptop) {
    padding: $base-line-height * 2 $base-line-height * 4 ;
    margin: $base-line-height auto;
    max-width: $full-width;
    margin: $base-line-height * 2 auto;
  }
}

.display{
  @include breakpoint-min(desktop) {
    margin: $base-line-height  auto;
  }
}
